html,
body {
    background: #2a303a;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    background-size: cover;
    color: #f8f8f8;
}

/*
    FIXED HEADER
 */
.logged-user #private_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #2a303a;
    margin: 0;
}
.logged-user .render-page-section {
    padding-top: 60px; /*Needs to be equal to private_nav height*/
}

.container {
    width: 100%;
}
.white {
    color: #f8f8f8;
}
.orange {
    color: #e37a24;
}
button.clear {
    background: transparent;
    border: transparent;
    outline: none;
    vertical-align: middle;
}

img.icon-button {
    width: 48px;
    height: 48px;
}
img.video-icon {
    width: 32px;
    height: 32px;
}

.text-divider {
    line-height: 0;
    text-align: center;
}
.text-divider span {
    display: inline-block;
    position: relative;
    width: 40px;
}
.text-divider span:before,
.text-divider span:after {
    content: '';
    position: absolute;
    height: 5px;
    border-top: 1px solid #f8f8f8;
    top: 0;
    width: 120px;
}
.text-divider span:before {
    right: 100%;
}
.text-divider span:after {
    left: 100%;
}

.row:before,
.row:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

label {
    font-weight: 500;
}
button:focus {
    outline: none;
}

.selectable {
    background: #49545f;
    border: none;
    border-radius: 4px;
    height: 36px;
    width: 100%;
}
input.selectable {
    color: #f8f8f8;
    outline: none;
    padding: 0px 8px;
}
.selectable button,
.selectable input {
    color: #f8f8f8;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0px 8px;
    text-align: left;
}
.selectable button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

button.close-modal-button {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 0;
}
.material-input input:-webkit-autofill,
.material-input input:-webkit-autofill:hover,
.material-input input:-webkit-autofill:focus .material-input input:-webkit-autofill {
    border: none;
    -webkit-text-fill-color: none;
    -webkit-box-shadow: 0 0 0px 1000px none inset;
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}

.size40 {
    font-size: 40px;
}
.size24 {
    font-size: 24px;
}
.size16 {
    font-size: 16px;
}
.size14 {
    font-size: 14px;
}
.size12 {
    font-size: 12px;
}
.size11 {
    font-size: 11px;
}
.size10_5 {
    font-size: 10.5px;
}
.size8 {
    font-size: 8px;
}
.empty {
    padding: 0px;
    margin: 0px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.noscroll {
    position: fixed;
}

/**
 * POPUP IP
 */
.payment-overlay-loader > div {
    max-width: 100% !important; /*fix overflow OverlayLoader*/
    max-height: 100% !important; /*fix overflow OverlayLoader*/
}
.popupip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    z-index: 9;
}

.popupip .popupip-box {
    max-width: 80%;
    background: #34414d;
    border: solid 1px #fff;
    padding: 10px;
    color: #fff;
    text-align: center;
    top: 30%;
    margin: 0 auto;
}
.popupip .popupip-actions {
    padding-top: 10px;
}
.popupip .popupip-actions button {
    display: inline-block;
    max-width: 40%;
    margin: 0 2%;
}
